.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  body{
    margin-top: 50px;
    background-color: #F1F1F3;
    
}
.sec-one{
    display: flex;
    background-color: #C6E4D6;
    padding: 117px 59.99px;
    border-radius: 24px;
    gap: 64px;
}
.sec-one h4{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
}
.sec-one h1{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 16px;
}
.sec-one button{
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
    background-color: #006A50;
    width: 270px;
    height: 65px;
    border-radius: 8px;
    border-style: none;
}

/*vision*/

.sec-tow{
    margin-top: 80px;
}
.sec-tow h1{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.sec-tow p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.sec-tow .card-holder{
    display: flex;
    gap: 24px;
}
.card-h{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: bold;
}
.card-p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}

.card-holder .card-1{
    background-color:rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
    border: 1px solid #D5D6D8;
}
.card-1 button{
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    border-radius: 8px;
    border-style: none;
    padding: 11px 20px;
    background-color: #5490F5;
}

.card-holder .card-2{
    background-color:#C6E4D6;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid #D5D6D8;
}
.card-2 button{
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    border-radius: 8px;
    border-style: none;
    padding: 11px 20px;
    background-color: #09A15C;
}

.card-holder .card-3{
background-color:#F7EBCF;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid #D5D6D8;
}
.card-3 button{
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    border-radius: 8px;
    border-style: none;
    padding: 11px 20px;
    background-color: #FFC239;
}

/* satelite */

.sec-three{
    margin-top: 80px;
}
.sec-three h1{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.news{
    display: flex;
    gap: 32px;
    margin-bottom: 24px;
    box-shadow:0 6px 50px 0 rgba(0, 0, 0, 0.06) ;
    padding: 64px 48px;
    border-radius: 24px;
}
.news button{
    padding: 13px 26px;
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    border-style: none;
}
.pic img{
    border-radius: 24px;
}
.content h2{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.all-p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

/*donate today*/
.sec-four{
    margin-top: 80px;
    padding: 0px 104px;
}
.sec-four h2{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: center;
}
.sec-four p{
    text-align: center
}
.parent{
    display: flex;
    justify-content: space-around;
}
.parent p{
    background-color: #ffffff;
    border-radius: 16px;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    border: 1px solid #D5D6D8;
}
.parent p:nth-child(2){
    background-color: #C6E4D6;
}
.put input{
    display: block;
    width: 1032px;
    height: 64px;
    border-style: none;
    border-bottom: 1px solid #D5D6D8;
}
.put input[type="text"]{
    text-align: center;
}
.put{
    display: flex;
    justify-content: center;
}
.btn button{
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    border-style: none;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 31px;
}

/*subscribe*/
.sec-five{
    padding: 80px 265px;
    background-color:#C6E4D6 ;
    border-radius:24px ;
    margin-top: 80px;
   
}
.t-center{
    text-align: center;
}
.sec-five h3{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.sec-five p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.redues{
    display: flex;
    justify-content: center;
}
.redues input[type="email"]{
    padding: 18px 403px 18px 40px;
    color: #FFFFFF;
    border-radius: 8px 0px 0px 8px ;
    border-style: none;
}
.redues button{
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 0px 8px 8px 0px;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    border-style: none;
}    

/* hover effect */
button:hover{
    cursor: pointer;
    background-color:  chartreuse;
    color: crimson;
    transition: 0.5s;
    font-size: 20px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06) ;;
}
.parent>p:hover{
    cursor: pointer;
    background-color: #FFC239;
    transition: 0.5s;
}
p:hover{
    cursor: pointer;
}

/* quote */
.sec-six{
    border: 1px solid #D5D6D8;
    border-radius: 24px;
    background-color: #FFFFFF;
    padding: 48px 24px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.sec-six img{
    position: absolute;
}
